body {
    text-align: center;
    background-color: #eee;
}

img {
    width: 150px;
}

h1 {
    font-size: 3em;
}

p{
    margin: 1em;
}

label, input[type=text] {
    display: inline-block;
    clear: both;
}

label {
    padding: 0.4em;
    font-weight: bold;
    font-size: 1.5em;
}

input[type=text]{
    font-size: 200%;
    margin: 0.4em;
    padding: .2em;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 2em;
    padding: 10px;
    font-size: 100%;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 2px 0 #696999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    line-height: 20px;
  	-webkit-transition: all .2s;
    color: #fff;
    background-color: #708090;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all .2s;
    cursor: pointer;
}

button:hover {
  background-color: #b0c4de;
  box-shadow: 0 2px 0 #595999;
　cursor: pointer;
}

button:active {
	top: 3px;
	box-shadow: none;
}
